<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js" defer=""></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sacramento&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>LeciManggaResidence - Tipe Kamar</title>
</head>
<body>
<nav th:insert="~{fragments/header-navbar :: header}"></nav>

<main class="pt-20">
    <!--    Banner-->
    <section class="relative w-full h-[439px] bg-cover bg-center" th:style="'background-image: url(' + @{/asset/tipe-kamar-bg.png} + ');'">
        <div class="absolute inset-0" style="background: linear-gradient(90deg, rgba(52, 78, 65, 0.93) 32%, rgba(18, 27, 18, 0.00) 100%);"></div>

        <div class="relative z-10 container mx-auto px-4 lg:px-20 flex flex-col justify-center h-full text-white">
            <p class="text-sm font-semibold tracking-wider uppercase text-[#A3B18A]">
                Beranda &gt; <span style="color: azure">Pesan Kamar</span>
            </p>
            <h1 class="mt-2 text-3xl md:text-4xl lg:text-5xl font-bold">
                Pesan Kamar Sekarang
            </h1>
            <p class="mt-4 text-base md:text-lg text-[#F3ECDC]">
                Segera pesan kamar sesuai pilihan anda.
            </p>
        </div>
    </section>
    <div class="container py-16 mx-auto px-6 lg:px-20">
        <div class="bg-white p-8 rounded-lg shadow-md border border-[#EDE8DA] max-w-[800px] mx-auto">
            <form class="space-y-6" th:action="@{/pesan-kamar/submit}" method="POST" th:object="${form}">
                <div>
                    <label for="nama" class="block text-sm font-semibold text-[#073937]">Nama</label>
                    <input th:field="*{namaPemesan}" type="text" id="nama" name="nama" class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#A3B18A]" placeholder="Masukkan nama lengkap" required>
                </div>
                <div>
                    <label for="kontak" class="block text-sm font-semibold text-[#073937]">Nomor Telp / Email</label>
                    <input th:field="*{kontak}" type="text" id="kontak" name="kontak" class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#A3B18A]" placeholder="Masukkan Nomor Telp/Email" required>
                </div>
                <div>
                    <label for="tipe_kamar" class="block text-sm font-semibold text-[#073937]">Pilih Tipe Kamar</label>
                    <select th:field="*{tipeKamar}"
                            id="tipe_kamar"
                            onchange="window.location.href='?jenis=' + this.value"
                            name="tipe_kamar"
                            class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#A3B18A]"
                            required>
                        <option value="">Pilih Kamar</option>

                        <option th:each="kamar : ${listKamar}" th:value="${kamar.jenisKamar}" th:text="${kamar.jenisKamar}"></option>

                    </select>
                </div>
                <div class="flex gap-4">
                    <div class="w-3/4">
                        <label for="durasi" id="durasiLabel" class="block text-sm font-semibold text-[#073937]">Durasi (Bulan)</label>
                        <input th:field="*{durasi}" type="number" id="durasi" name="durasi" class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#A3B18A]" min="1" required>
                    </div>
                    <div class="w-1/4">
                        <label for="tipe_sewa" class="block text-sm font-semibold text-[#073937]">Tipe Sewa</label>
                        <select th:field="*{tipeSewa}" id="tipe_sewa" name="tipe_sewa" class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#A3B18A]" required>
                            <option th:value="bulanan">Bulanan</option>
                            <option th:value="tahunan">Tahunan</option>
                        </select>
                    </div>
                </div>
                <div>
                    <label class="block text-sm font-semibold text-[#073937]">Jumlah Penghuni</label>
                    <div class="flex gap-4 mt-2">
                        <th:block th:if="${maxPenghuni != null}">
                            <th:block th:each="i : ${#numbers.sequence(1, maxPenghuni)}">
                                <label class="flex items-center gap-2">
                                    <input type="radio" th:field="*{jumlahPenghuni}" th:value="${i}" />
                                    <span th:text="${i} + ' Orang'"></span>
                                </label>
                            </th:block>
                        </th:block>
                    </div>
                </div>
                <div>
                    <label for="tanggal_mulai" class="block text-sm font-semibold text-[#073937]">Tanggal Mulai Sewa</label>
                    <input th:field="*{tanggalMulai}" type="date" id="tanggal_mulai" name="tanggal_mulai" class="w-full mt-2 px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-[#A3B18A]" required>
                </div>
                <div class="flex justify-between mt-6">

                    <button type="submit"
                            th:if="${user}"
                            class="px-6 py-3 bg-[#588157] text-white font-semibold rounded-lg hover:bg-blue-600">
                        Kirim
                    </button>

                    <a th:unless="${user}"
                            th:href="@{/auth/login}"
                            class="px-6 py-3 bg-[#568157] text-white font-semibold rounded-lg hover:bg-blue-600">
                        Login
                    </a>


                    <button type="reset" class="px-6 py-3 border border-[#588157] text-[#588157] font-semibold rounded-lg hover:bg-[#EDE8DA]">
                        Batalkan
                    </button>
                </div>
            </form>

        </div>
    </div>
            </form>

        </div>
    </div>

    <footer th:insert="~{fragments/footer :: footer }"></footer>
</main>
</body>
</html>