<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.12.0/dist/cdn.min.js" defer=""></script>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sacramento&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/fill/style.css"
    />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/npm/@phosphor-icons/web@2.1.1/src/regular/style.css"
    />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style.css}">
    <title>LeciManggaResidence - Tipe Kamar</title>
</head>
<body>
    <nav th:insert="~{fragments/header-navbar :: header}"></nav>

    <main class="pt-20">
        <!--    Banner-->
        <section class="relative w-full h-[439px] bg-cover bg-center" th:style="'background-image: url(' + @{/asset/tipe-kamar-bg.png} + ');'">
            <div class="absolute inset-0" style="background: linear-gradient(90deg, rgba(52, 78, 65, 0.93) 32%, rgba(18, 27, 18, 0.00) 100%);"></div>

            <div class="relative z-10 container mx-auto px-4 lg:px-20 flex flex-col justify-center h-full text-white">
                <p class="text-sm font-semibold tracking-wider uppercase text-[#A3B18A]">
                    Beranda &gt; <span style="color: azure">Tipe Kamar</span>
                </p>
                <h1 class="mt-2 text-3xl md:text-4xl lg:text-5xl font-bold">
                    Tipe Kamar
                </h1>
                <p class="mt-4 text-base md:text-lg text-[#F3ECDC]">
                    Segera pilih daftar kamar sesuai impian anda di bawah ini.
                </p>
            </div>
        </section>

        <!-- Filter-->
        <div class="relative z-20 -mt-[40px] mx-auto w-full max-w-[1200px] bg-[#FFFBF2] shadow-md rounded-t-[30px] border border-[#EDE8DA] p-6 lg:p-0">
            <form method="GET" action="/tipe-kamar" id="tipeKamarFilter" class="hidden lg:flex justify-between items-center w-full h-[78px] px-8">
                <!-- Dropdown Harga -->
                <div class="relative flex items-center gap-4 w-[250px]">
                    <i class="fas fa-dollar-sign text-[#A3B18A] text-lg"></i>
                    <select name="harga"
                            class="block w-full px-4 py-3 text-[#4D4D4D] bg-white border border-[#EDE8DA] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-[#A3B18A] appearance-none cursor-pointer">
                        <option value="" class="text-gray-400">Pilih harga yang sesuai</option>
                        <option value="1"  class="hover:bg-[#F3ECDC]">
                            0 - 1 juta
                        </option>
                        <option value="2"  class="hover:bg-[#F3ECDC]">
                            1 juta - 2 juta
                        </option>
                        <option value="3"  class="hover:bg-[#F3ECDC]">
                            2 juta ke atas
                        </option>
                    </select>
                    <!-- Ikon Dropdown -->
                    <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                        <i class="fas fa-chevron-down text-[#A3B18A]"></i>
                    </div>
                </div>


                <!-- Separator -->
                <div class="w-px h-[40px] bg-[#EDE8DA]"></div>

                <!-- Dropdown Token/Non-Token -->
                <div class="relative flex items-center gap-4 w-[250px]">
                    <i class="fas fa-lightbulb text-[#A3B18A] text-lg"></i>
                    <select name="token"
                            class="block w-full px-4 py-3 text-[#4D4D4D] bg-white border border-[#EDE8DA] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-[#A3B18A] appearance-none cursor-pointer">
                        <option value="" class="text-gray-400">Pilih jenis kos</option>
                        <option value="token"  class="hover:bg-[#F3ECDC]">
                            Token
                        </option>
                        <option value="non-token"  class="hover:bg-[#F3ECDC]">
                            Non-Token
                        </option>
                    </select>
                    <!-- Ikon Dropdown -->
                    <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                        <i class="fas fa-chevron-down text-[#A3B18A]"></i>
                    </div>
                </div>


                <!-- Separator -->
                <div class="w-px h-[40px] bg-[#EDE8DA]"></div>

                <!-- Dropdown Max Orang -->
                <div class="relative flex items-center gap-4 w-[250px]">
                    <i class="fas fa-user-friends text-[#A3B18A] text-lg"></i>
                    <select name="orang"
                            class="block w-full px-4 py-3 text-[#4D4D4D] bg-white border border-[#EDE8DA] rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-[#A3B18A] appearance-none cursor-pointer">
                        <option value="" class="text-gray-400">Pilih jumlah penghuni</option>
                        <option value="1"  class="hover:bg-[#F3ECDC]">
                            1 Orang
                        </option>
                        <option value="2"  class="hover:bg-[#F3ECDC]">
                            2 Orang
                        </option>
                        <option value="3"  class="hover:bg-[#F3ECDC]">
                            3 Orang
                        </option>
                    </select>
                    <!-- Ikon Dropdown -->
                    <div class="absolute inset-y-0 right-4 flex items-center pointer-events-none">
                        <i class="fas fa-chevron-down text-[#A3B18A]"></i>
                    </div>
                </div>


                <!-- Buptton Cari -->
                <button type="submit" class="bg-[#588157] text-white px-8 py-2 rounded-full text-sm font-semibold hover:bg-[#6A965F]">
                    Cari
                </button>
            </form>

            <div class="lg:hidden grid grid-cols-1 sm:grid-cols-2 gap-6">
                <form method="GET" action="" class="grid grid-cols-1 sm:grid-cols-2 gap-6">


                    <!-- Dropdown Harga -->
                    <div class="flex items-center gap-4">
                        <i class="fas fa-dollar-sign text-[#588157] text-lg"></i>
                        <select name="harga" class="w-full bg-transparent text-[#4D4D4D] text-sm font-normal focus:outline-none appearance-none border-b border-[#EDE8DA]">
                            <option value="" class="text-gray-400" th:selected="${selectedHarga==null or selectedHarga==''}">Pilih harga yang sesuai</option>
                            <option value="1" class="hover:bg[#F3ECDC]" th:selected="${selectedHarga=='1'}">0 - 1 juta</option>
                            <option value="2" class="hover:bg[#F3ECDC]" th:selected="${selectedHarga=='2'}">1 juta - 2 juta</option>
                            <option value="3" class="hover:bg[#F3ECDC]" th:selected="${selectedHarga=='3'}">2 juta ke atas</option>
                        </select>
                    </div>

                    <!-- Dropdown Token/Non-Token -->
                    <div class="flex items-center gap-4">
                        <i class="fas fa-bed text-[#588157] text-lg"></i>
                        <select name="token" class="w-full bg-transparent text-[#4D4D4D] text-sm font-normal focus:outline-none appearance-none border-b border-[#EDE8DA]">
                            <option value="" class="text-gray-400" th:selected="${selectedToken == null or selectedToken == ''}">Pilih jenis kos</option>
                            <option value="token" class="hover:bg-[#F3ECDC]" th:selected="${selectedToken == 'token'}">Token</option>
                            <option value="non-token"  class="hover:bg-[#F3ECDC]" th:selected="${selectedToken == 'non-token'}">Non-Token</option>
                        </select>
                    </div>

                    <!-- Orang Counter -->
                    <div class="flex items-center gap-4">
                        <i class="fas fa-user-friends text-[#588157] text-lg"></i>
                        <select name="orang" class="w-full bg-transparent text-[#4D4D4D] text-sm font-normal focus:outline-none appearance-none border-b border-[#EDE8DA]">
                            <option value="" th:selected="${selectedOrang == null or selectedOrang == ''}">Pilih jumlah penghuni</option>
                            <option value="1" th:selected="${selectedOrang == '1'}">1 Orang</option>
                            <option value="2" th:selected="${selectedOrang == '2'}">2 Orang</option>
                            <option value="3" th:selected="${selectedOrang == '3'}">3 Orang</option>
                        </select>
                    </div>

                    <!-- Button Cari -->
                    <div class="flex justify-center sm:justify-end col-span-1 sm:col-span-2">
                        <button type="submit" class="w-full sm:w-auto bg-[#588157] text-white px-8 py-2 rounded-full text-sm font-semibold hover:bg-[#6A965F]">
                            Cari
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <div th:each="kamar : ${listKamar}" class="container mx-auto px-6 lg:px-20">
                <div class="mb-12 flex flex-col lg:flex-row w-full max-w-[1230px] mx-auto p-6 items-center gap-8 bg-white rounded-[20px] shadow-md">
                    <div class="container mx-auto px-6 lg:px-20">
                        <div class="relative w-full lg:w-[511px] h-[416px] lg:h-[416px] rounded-lg overflow-hidden cursor-pointer">
                            <img th:src="${kamar.imagePath}" th:alt="${kamar.jenisKamar}" class="w-full h-full object-cover">
                            <span th:text="${kamar.status ? 'Tersedia' : 'Penuh'}" th:classappend="${kamar.status ? 'bg-[#588157]' : 'bg-red-500'}" class="absolute top-1 left-1 text-white font-work-sans font-semibold text-base py-2 px-4 rounded-[10px] shadow-md">
                                Status
                            </span>
                        </div>

                    </div>
                    <div class="flex flex-col gap-4 w-full">
                        <h3 class="text-[#073937] font-opensans text-lg lg:text-[24px] font-semibold uppercase leading-[27.9px]">
                            <span th:text="${kamar.jenisKamar}">
                                Jenis Kamar
                            </span>
                        </h3>
                        <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal leading-[27.9px]">
                            <span th:text="${kamar.desc}">
                                Desc Kamar
                            </span>
                        </p>
                        <h4 class="text-[#073937] font-opensans text-sm lg:text-[16px] font-semibold">
                            Fasilitas Kamar
                        </h4>
                        <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal leading-[27.9px]">
                            <span th:text="${kamar.fasilitas}">
                                Fasilitas Kamar
                            </span>
                        </p>
                        <h4 class="text-[#073937] font-opensans text-sm lg:text-[16px] font-semibold" th:text="'Harga (' + (${kamar.token} ? 'token)' : 'non-token)')">

                        </h4>
                        <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-2 pt-4 lg:pt-6 border-t border-[#EDE8DA]">
                            <div class="flex flex-col gap-1">
                                <div th:each="harga, iterStat : ${kamar.harga}" >
                                    <p class="text-[#073937] font-opensans text-sm lg:text-[16px] font-normal leading-[27.9px]">
                                        <span th:text="${iterStat.count} +' Orang  Mulai Rp.'+${harga}">
                                            Harga Kamar
                                        </span>
                                    </p>
                                </div>
                            </div>
                            <a  th:href="@{/pesan-sekarang(jenis=${kamar.jenisKamar})}"
                                th:if="${kamar.status}"
                               class="bg-[#588157] text-white px-8 py-4 rounded-full text-sm font-semibold hover:bg-[#6A965F]">
                                Pesan Sekarang
                            </a>
                            <a th:unless="${kamar.status}"
                               class="bg-red-500 text-white px-8 py-4 rounded-full text-sm font-semibold hover:bg-red-200">
                                Kamar Penuh
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <footer th:insert="~{fragments/footer :: footer }"></footer>
    </main>
</body>
</html>